@media(max-width: 500px){
	h2{
		color:red;
	}

	.main-contents-left{
		display: none;
	}

	.main-contents-right{
		display: none;
	}

	.menubar{
		position: fixed;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 85px;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	.menubar-contents-left span{
		font-size:14px;
		display: block;
		height: 35px;
		color: white;
	}

	.menubar-contents-right span{
		font-size:14px;
		display: block;
		height: 35px;
		padding-top:30px;
		color: white;
	}

	div .fa{
		display: block;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

	.linebar{
		position: fixed;
		right: 0px;
	}

	.bottom-right{
		position: fixed;
		background: ivory;
		height: 100px;
		width: 170px;
		top: 0px;
		right: -200px;
		z-index: 2;
		transition: 1s;
		border: 1px solid black;
	}

	.cross-sign{
		float:left;
	}

	.bottom-right span{
		font-size:14px;
		display: block;
		text-align: center;
	}

	.bottom-right .separator{
		display: none;
	}

	.br-menu{
		margin-top: 10px;
	}

	.br-menu:hover{
		text-decoration: underline;
		background-color: transparent;
		color:red;
	}

}

@media(min-width: 768px){
	
}

@media(min-width: 992px){
	
}

@media(min-width: 1200px){
	/*Already defined in style.css*/
}



